[flake8]
max-line-length = 88
extend-ignore = E203, W503, F401, E501
exclude = 
    .git,
    __pycache__,
    dist,
    build,
    *.egg,
    .venv,
    .env
per-file-ignores =
    __init__.py:F401,
    test_*.py:S101